@page "/projecttasks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BuildMasterPro.Data
@using BuildMasterPro.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BuildMasterPro.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projecttasks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ProjectTask">
    <PropertyColumn Property="projecttask => projecttask.ProjectId" />
    <PropertyColumn Property="projecttask => projecttask.TaskName" />
    <PropertyColumn Property="projecttask => projecttask.TaskDescription" />
    <PropertyColumn Property="projecttask => projecttask.StartDate" />
    <PropertyColumn Property="projecttask => projecttask.DueDate" />
    <PropertyColumn Property="projecttask => projecttask.Status" />
    <PropertyColumn Property="projecttask => projecttask.Priority" />

    <TemplateColumn Context="projecttask">
        <a href="@($"projecttasks/edit?taskid={projecttask.TaskId}")">Edit</a> |
        <a href="@($"projecttasks/details?taskid={projecttask.TaskId}")">Details</a> |
        <a href="@($"projecttasks/delete?taskid={projecttask.TaskId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
