@inherits LayoutComponentBase

<div class="layout-content">
    <!--NavBar-->
    <div class="custom-navbar">
        <LandingNavBar/>
    </div>
    <!--Main Content-->
    <main>
        @Body
    </main>
</div>