@inherits LayoutComponentBase

<div class="layout-content">
    <!--NavBar-->
    <div class="custom-navbar">
        <LandingNavBar/>
    </div>
    <!--Main Content-->
    <main>
        @Body
        <img src="/images/polygonPattern.png" alt="" class="background-pattern" />
    </main>
</div>