@page "/main"
@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using BuildMasterPro.Data
@using Microsoft.EntityFrameworkCore
@inject BuildMasterPro.Data.ApplicationDbContext context
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject BuildMasterPro.Services.ProjectService PS

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="mainlayout">
    <div class="mainlayout-sidebar-container">
        <NavMenu Projects="Projects"/>
    </div>
    <div class="mainlayout-navbar-container">
        <div style="height:70px;"></div>
    </div>
    
    <div class="mainlayout-maincontent">
        @Body
    </div>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    private List<Project> Projects { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        Projects = await PS.GetProjectsAsync();
    }

    private void HoveredState()
    {
        
    }

    private void ToggleDrawer()
    {
        
    }
}