@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using BuildMasterPro.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject BuildMasterPro.Data.ApplicationDbContext context
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject UserManager<ApplicationUser> UserManager
@inject BuildMasterPro.Services.MessageService MessageService
@inject BuildMasterPro.Services.ProjectService PS
@inject BuildMasterPro.Services.UserService userService
@attribute [Authorize]




<div class="mainlayout">
    <div class="mainlayout-sidebar-container">
        <NavMenu Projects="Projects"/>
    </div>
    <div class="mainlayout-navbar-container">
        <AppBar></AppBar>
    </div>
    
    <div class="mainlayout-maincontent">
        @Body
    </div>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    private List<Project> Projects { get; set; } = new();
    private AuthenticationState? authState;

    protected async override Task OnInitializedAsync()
    {
        Projects = await PS.GetProjectsAsync();
    }

    private void HoveredState()
    {
        
    }

    private void ToggleDrawer()
    {
        
    }
}