@page "/projecttasks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BuildMasterPro.Data
@rendermode InteractiveServer
@inject BuildMasterPro.Services.ProjectService ProjectService
@inject BuildMasterPro.Services.ProjectTaskService TaskService
@inject MudBlazor.IDialogService DialogService

<MudPopoverProvider />
<MudDialogProvider />
<MudThemeProvider />

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projecttasks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="Tasks.AsQueryable()">
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.ProjectId" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.TaskName" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.TaskDescription" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.StartDate" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.DueDate" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.Status" />
    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="projecttask => projecttask.Priority" />

    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn Context="projecttask">
        <a href="@($"projecttasks/edit?taskid={projecttask.TaskId}")">Edit</a> |
        <a href="@($"projecttasks/details?taskid={projecttask.TaskId}")">Details</a> |
        <a href="@($"projecttasks/delete?taskid={projecttask.TaskId}")">Delete</a>
    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
</QuickGrid>

@code {

    [Parameter]
    public Project Project { get; set; } = new();

    public List<ProjectTask> Tasks { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Tasks = await TaskService.GetCurrentProjtasksAsync();
    }

}
