﻿.content-container {
    padding: 0;
    margin: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 90px;
    width: auto;
}

.headers-content {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.sub-container {
    margin: 2rem 0 1rem 0;
    align-items: center;
    width: 75%;
}

.sub-tagline {
    text-align: center;
}

.button-container {
    display: flex;
    gap: 30px;
}

.login-button, .signup-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login-button {
    border: solid;
    border-color: #5A3E9F;
    color: #5A3E9F;
    height: 44px;
    width: 110px;
}

    .login-button:hover {
        border-color: #9068F2;
        color: #9068F2;
    }

.signup-button {
    padding: 11px 25px;
    background-color: #5A3E9F;
    color: white;
}

    .signup-button:hover {
        background: radial-gradient(circle, #9068F2, #5A3E9F);
    }

@media(max-width:768px) {
    .logo {
        margin-top: 50px;
    }

    .headers-content {
        font-size: 1.5rem;
    }

    .sub-container {
        font-size: 1rem;
        width: 80%;
        margin-bottom: 20px;
    }
}


