@page "/Account/ForgotPasswordConfirmation"

@inherits LayoutComponentBase

<PageTitle>Forgot password confirmation</PageTitle>

<div class="main-container">

    <!-- External Navigation Bar -->
    <div class="navbar-container">
        <BuildMasterPro.Components.Layout.ExternalNavBar />
    </div>

    <!--main-content-->
    <main>

        <div class="confirmation-box">

            <section>

                <h1 style="font-size: 19px; margin-bottom: 20px;">Forgot password confirmation</h1>
                <p style ="font-size: 14px;">
                    Please check your email to reset your password.
                </p>

            </section>

        </div>

        <img src="/images/polygonPattern.png" alt="pattern" class="background-pattern" />
    </main>

</div>
