@page "/projects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BuildMasterPro.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BuildMasterPro.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projects/create">Create New</a>
</p>

@* <QuickGrid Class="table" Items="context.Project">
    <PropertyColumn Property="project => project.ProjectName" />
    <PropertyColumn Property="project => project.Description" />
    <PropertyColumn Property="project => project.Startdate" />
    <PropertyColumn Property="project => project.Enddate" />
    <PropertyColumn Property="project => project.Status" />

    <TemplateColumn Context="project">
        <a href="@($"projects/edit?projectid={project.ProjectId}")">Edit</a> |
        <a href="@($"projects/details?projectid={project.ProjectId}")">Details</a> |
        <a href="@($"projects/delete?projectid={project.ProjectId}")">Delete</a>
    </TemplateColumn>
</QuickGrid> *@

<MudDataGrid Items="context.Project">
    <Columns>
        <MudBlazor.PropertyColumn Property="project => project.ProjectName" />
        <MudBlazor.PropertyColumn Property="project => project.Description" />
        <MudBlazor.PropertyColumn Property="project => project.Startdate" />
        <MudBlazor.PropertyColumn Property="project => project.Enddate" />
        <MudBlazor.PropertyColumn Property="project => project.Status" />
    </Columns>
</MudDataGrid>


@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
