@page "/projects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BuildMasterPro.Data

@inject BuildMasterPro.Services.ProjectService ProjectService

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projects/create">Create New</a>
</p>

@* <QuickGrid Class="table" Items="Projects">
    <PropertyColumn Property="project => project.ProjectName" />
    <PropertyColumn Property="project => project.Description" />
    <PropertyColumn Property="project => project.Startdate" />
    <PropertyColumn Property="project => project.Enddate" />
    <PropertyColumn Property="project => project.Status" />

    <TemplateColumn Context="project">
        <a href="@($"projects/edit?projectid={project.ProjectId}")">Edit</a> |
        <a href="@($"projects/details?projectid={project.ProjectId}")">Details</a> |
        <a href="@($"projects/delete?projectid={project.ProjectId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>  *@

<MudDataGrid Items="Projects">
    <Columns>
        <MudBlazor.PropertyColumn Property="project => project.ProjectName" />
        <MudBlazor.PropertyColumn Property="project => project.Description" />
        <MudBlazor.PropertyColumn Property="project => project.Startdate" />
        <MudBlazor.PropertyColumn Property="project => project.Enddate" />
        <MudBlazor.PropertyColumn Property="project => project.Status" />
    </Columns>
</MudDataGrid>


@code {

    private List<Project> Projects { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Projects = await ProjectService.GetProjectsAsync();
    }
}
